body{
    margin: 0;
    padding: 0;
    font-family: "Work Sans" sans-serif;
}

/* ------------------ TEXT ------------------ */
h2{
    font-family: "Work Sans" sans-serif;
    font-weight: 300;
    text-align: center;
}

.title{
    position: relative;
    margin-top: -10px;
    text-align: center;
    font-size: 42pt;
    border-bottom: 2px solid #bdbdbd;
}

.input-labels{
    font-size: 21pt;
    text-align: center;
    padding: 10px 0 0 0;
}

.text-instructions{
    font-weight: 300;
}


/* -------------- CONTAINERS ---------------- */
.navbar-brand{
    font-family: "Work Sans" sans-serif;
    font-weight: 400;
    font-size: 18pt;
    padding-left: 0;
}
.navbar.navbar-default.navbar-static-top{
    font-family: "Work Sans" sans-serif;
    font-weight: 200;
}

#map-container{
    border: 1px solid #bdbdbd;
    box-shadow: -10px 5px 15px #bdbdbd;
}

.popup-container{
    font-family: "Work Sans" sans-serif;
}

/* --------------MAP LEGEND------------------ */
#legend-container{
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
    left: 1.5em;
}

.legend-blocks{
    position; relative;
    display: block;
    margin-bottom: -11px;
}

.legend-header{
    position: relative;
    font-weight:500;
    font-size: 12pt;
    color: #636363;
    width: 90px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-top: 1.5px solid #bdbdbd;
}

.legend-labs{
    position: relative;
    display: inline;
    font-size: 10pt;
    font-weight:300;
    text-align: center;
}

.legend-labs-top{
    position: relative;
    display: inline;
    top: -28px;
    font-size: 10pt;
    font-weight: 300;
}

/* ------------------ BUTTON ------------------ */
#submit{
    background: #fc4e2a;
    border: 0;
}
    
