
.jumbotron{
    background: url("../images/coffee-cup-full-crpd.jpg");
    background-size: cover;
}

.jumbotron h1{
    color: white;
    text-align: right;
}

.jumbotron p{
    color: white;
    text-align: right;
    font-weight: bold;
}

.bottom{
    text-align: center; 
    padding-top: 2em;
    padding-bottom: 2em;
}

.bottom p{
    color: black;
}

#coffeeMap{
    margin: 0 auto;
}

#coffeeMap .glyphicon.glyphicon-link{
    font-size: 18pt;
}